<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="writer" class="writer.Writer"/>

    <bean id="ozdobnikMinus" class="writer.OzdobnikMinus"/>
    <bean id="ozdobnikGwiazdki" class="writer.OzdobnikGwiazdka"/>

    <bean id="nicewriter" class="writer.NiceWriter">
        <property name="ozdobnik" ref="ozdobnikMinus"/>
    </bean>

    <bean id="testService" class="service.TestService">
        <property name="writer" ref="nicewriter"/>
        <property name="myName" value="Andrij"/>
    </bean>

    <bean id="testController" class="controller.TestController">
        <property name="testService" ref="testService"/>
    </bean>
</beans>
