<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="ozdobnikGwiazdki" class="writer.OzdobnikGwiazdka"/>
    <bean id="ozdobnikMinus" class="writer.OzdobnikMinus"/>

    <bean id="niceWriter" class="writer.NiceWriter">
        <property name="ozdobnik" ref="ozdobnikGwiazdki"/>
    </bean>

    <bean id="writerService" class="main.Service.WriterService">
        <constructor-arg ref="niceWriter"/>
    </bean>

    <bean id="testService" class="main.Service.TestService">
        <property name="writer" ref="niceWriter"/>
        <property name="myName" value="Andrij"/>
    </bean>

    <bean id="testController" class="main.Controller.TestController">
        <property name="testService" ref="testService"/>
    </bean>

</beans>
